<h1>Angular Portfolio Items</h1>

<%= link_to "Create New", new_portfolio_path %>

<% @angular_portfolio_items.each do |porty| %>
  <h1><%= link_to porty.title, portfolio_show_path(porty) %></h1>
  <p><%= porty.subtitle%></p>
  <p><%= porty.body %></p>
  <%= image_tag porty.thumb_image if !porty.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(porty) if logged_in?(:site_admin)%>
  <%= link_to 'Destroy', portfolio_path(porty), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>
<% end %>