<h1>Portfolio Items</h1>

<%= link_to "Create New", new_portfolio_path %>

<% @port.each do |porty| %>
  <p><%= link_to porty.subtitle, portfolio_show_path(porty) %></p>
  <p><%= porty.body %></p>
  <%= image_tag porty.thumb_image if !porty.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(porty) %>
  <%= link_to 'Destroy', portfolio_path(porty), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>