<p id="notice"><%= notice %></p>

<h1>Magics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @magics.each do |magic| %>
      <tr>
        <td><%= magic.title %></td>
        <td><%= magic.body %></td>
        <td><%= link_to magic.status,toggle_status_magic_path(magic)%></td>
        <td><%= link_to 'Show', magic %></td>
        <td><%= link_to 'Edit', edit_magic_path(magic) %></td>
        <td><%= link_to 'Destroy', magic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magic', new_magic_path %>
