<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @magic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @magic.body %>
</p>

<%= link_to 'Edit', edit_magic_path(@magic) if logged_in?(:site_admin)%> |
<%= link_to 'Back', magics_path %>
