<div class="col-sm-8 blog-main">

  <h2><%= @magic.title %></h2>

  <%= link_to 'Edit', edit_magic_path(@magic) if logged_in?(:site_admin) %>

  <p>
    <%= @magic.body %>
  </p>
  
  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @magic.id %>">
    <%= render @magic.comments %>
  </div>
</div>